/*++

Copyright (c) Microsoft. All rights reserved.

Module Name:

    version.rc

Abstract:

    This file contains resources for wslinstall.dll.

--*/

#include <windows.h>
#include "wslversioninfo.h"

#define VER_INTERNALNAME_STR "pwslinstall.dll"
#define VER_ORIGINALFILENAME_STR "pwslinstall.dll"

#define VER_FILEDESCRIPTION_STR "PrettyWSL Install library"

#include <common.ver>

STRINGTABLE DISCARDABLE
BEGIN
    100 "PRETTYWSLINSTALL"
    101 "Installation logic for PrettyWSL"
END
